<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="create()">
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-stroked-button (click)="compared()" style="margin-bottom: 15px;" class="more">
            <span class="d-flex align-items-center">сравнить
              <mat-icon>compare</mat-icon>
            </span>
          </button>
          <!-- (click)="compared()" -->
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Оценочный бюджет</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header>
                <!-- <mat-card-title>Создать карточку объекта</mat-card-title> -->
              </mat-card-header>
              <mat-card-content>

                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" style="width: 100%;box-shadow: none;">

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="toggleAllRows(); updateArray()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row); updateArray()"
                          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="id_assoi">
                      <th mat-header-cell *matHeaderCellDef> ID АССОИ </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_assoi}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="id_SAP">
                      <th mat-header-cell *matHeaderCellDef> ID SAP </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_SAP}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="id_srd">
                      <th mat-header-cell *matHeaderCellDef> ID СДР </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_srd}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Назание </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="version">
                      <th mat-header-cell *matHeaderCellDef> Версия </th>
                      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                      <th mat-header-cell *matHeaderCellDef> Комментарии </th>
                      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="macro">
                      <th mat-header-cell *matHeaderCellDef> Применяемые макропоказатели </th>
                      <td mat-cell *matCellDef="let element"> {{element.macro}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> Актуальная стоимость объекта </th>
                      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                    </ng-container>

                    <ng-container matColumnDef="currency">
                      <th mat-header-cell *matHeaderCellDef> Валюта </th>
                      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Действие </th>
                      <td mat-cell *matCellDef="let element" class="edit">
                        <button class="btn-table more" mat-stroked-button
                          (click)="showDetails(element)">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- Оценочный бюджет (Гл.) -->
      <div class="col">
        <div class="form-budget col budget" [ngClass]="{'show': showBlock1}">
          <div class="col text-end">
            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <form [formGroup]="estimatedForm">
            <div class="row">
              <h2>Добавить объект</h2>
              <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>ID АССОИ:</mat-label>
                  <input matInput formControlName="id_assoi">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>ID SAP:</mat-label>
                  <input matInput formControlName="id_SAP">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>ID СДР:</mat-label>
                  <input matInput formControlName="id_srd">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Назание:</mat-label>
                  <input matInput formControlName="title">

                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Версия:</mat-label>
                  <input matInput formControlName="version">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Комментарии:</mat-label>
                  <textarea matInput formControlName="comments"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Применяемые макропоказатели:</mat-label>
                  <input matInput formControlName="macro">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Актуальная стоимость объекта:</mat-label>
                  <input matInput formControlName="cost">

                </mat-form-field>

                <!-- <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px; width: 100%"
                        appearance="outline">
                        <mat-label>Регион:</mat-label>
                        <mat-select formControlName="region" [(ngModel)]="selectedRegion">
                          <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title
                            }}</mat-option>
                        </mat-select>
                      </mat-form-field> -->

                <div class="d-flex justify-content-end">
                  <button style="margin-bottom: 15px;" (click)="addEstimated()" mat-stroked-button
                    class="mat-btn-recolor">
                    <span class="d-flex align-items-center">
                      Сохранить
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Сравнение -->
      <div class="col card-add-details">
        <div class="form-budget col compared" [ngClass]="{'show': showBlock4}">
          <div class="col text-end">
            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Сравнение</h2>
          <div *ngIf="!clickedRows.size">
            Выбранные строки будут занесены в журнал
          </div>
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="clickedRowsArray" style="width: 100%;">

              <!-- ID АССОИ Column -->
              <ng-container matColumnDef="id_assoi">
                <th mat-header-cell *matHeaderCellDef> ID АССОИ </th>
                <td mat-cell *matCellDef="let element"> {{element.id_assoi}} </td>
              </ng-container>

              <!-- ID SAP Column -->
              <ng-container matColumnDef="id_SAP">
                <th mat-header-cell *matHeaderCellDef> ID SAP </th>
                <td mat-cell *matCellDef="let element"> {{element.id_SAP}} </td>
              </ng-container>

              <!-- ID СДР Column -->
              <ng-container matColumnDef="id_srd">
                <th mat-header-cell *matHeaderCellDef> ID СДР </th>
                <td mat-cell *matCellDef="let element">{{element.id_srd}} </td>
              </ng-container>

              <!-- Название Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Название </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>


              <!-- <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Версия </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
              </ng-container>

              
              <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Комментарии </th>
                <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
              </ng-container> -->

              <!-- Применяемые макропоказатели Column -->
              <ng-container matColumnDef="macro">
                <th mat-header-cell *matHeaderCellDef> Применяемые макропоказатели </th>
                <td mat-cell *matCellDef="let element"> {{element.macro}} </td>
              </ng-container>

              <!-- Актуальная стоимость объекта Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Актуальная стоимость объекта </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['id_assoi', 'id_SAP', 'id_srd', 'title',  'macro', 'cost']">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['id_assoi', 'id_SAP', 'id_srd', 'title',  'macro', 'cost'];">
              </tr>
            </table>
          </section>

        </div>
      </div>









      <!-- Блок подробнее -->
      <div class="col block" [ngClass]="{'show': block}" style="width: 70%;">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="card" *ngFor="let item of getAnalogBudgets" style="margin-top: 15px;">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th scope="col-4">Название</th>
                    <th scope="col-1">СМР</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">ПИР</th>
                    <th scope="col">Тех.характеристики</th>
                    <th scope="col">Стоймость</th>
                    <th scope="col">Типовой раздел</th>
                    <th scope="col">Регион</th>
                    <th scope="col">Действия</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ item.title }}</th>
                    <td>{{ item.constr_smr }}</td>
                    <td>{{ item.date_start }}</td>
                    <td>{{ item.date_end }}</td>
                    <td>{{ item.eng_pir }}</td>
                    <td>{{ item.tech_description }}</td>
                    <td>{{ item.cost }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.region }}</td>
                    <td>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button class="button-add-row" mat-button (click)="createObj()">+ Добавить объект аналога</button>
          </div>
                  <!-- Вложенный аккордеон: Оборудование -->
        <mat-accordion class="custom-accordion" *ngIf="getAnalogBudgets?.length > 0">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Оборудование</p>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="accordion-body">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead style="font-size: 12px;">
                        <tr>
                          <th scope="col">Название</th>
                          <th scope="col">Типовой раздел</th>
                          <th scope="col">Тех.характеристики</th>
                          <th scope="col">Стоймость</th>
                          <th scope="col">Описание</th>
                          <th scope="col">Проект</th>
                          <th scope="col">Мануфактура</th>
                          <th scope="col">Действия</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of getEquipment">
                          <th scope="row">{{ item.title }}</th>
                          <td>{{ item.type }}</td>
                          <td>{{ item.tech_description }}</td>
                          <td>{{ item.cost }}</td>
                          <td>{{ item.description }}</td>
                          <td>{{ item.project }}</td>
                          <td>{{ item.manufacturer }}</td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button class="button-add-row" mat-button (click)="createPac()">+ Добавить оборудование</button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- Вложенный аккордеон: Пакет работ -->
        <mat-accordion class="custom-accordion" *ngIf="getAnalogBudgets?.length > 0">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Пакет работ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="accordion-body">
              <!-- код для блока "Пакет работ" -->
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead style="font-size: 12px;">
                        <tr>
                          <th scope="col">Тип</th>
                          <th scope="col">Подрядчик</th>
                          <th scope="col">Итого</th>
                          <th scope="col">Стоимость удельная</th>
                          <th scope="col">Трудозатраты</th>
                          <th scope="col">Комментарий</th>
                          <th scope="col">Проект</th>
                          <th scope="col">Регион</th>
                          <th scope="col">Действия</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of getWorkPackage">
                          <th scope="row">{{ item.title }}</th>
                          <td>{{ item.type }}</td>
                          <td>{{ item.contractor }}</td>
                          <td>{{ item.cost_total }}</td>
                          <td>{{ item.cost_pp }}</td>
                          <td>{{ item.mh }}</td>
                          <td>{{ item.comments }}</td>
                          <td>{{ item.project }}</td>
                          <td>{{ item.region }}</td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button class="button-add-row" mat-button (click)="createEqu()">+ Добавить пакет работ</button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        </div>


      </div>





      <!-- Пакет работ (добавление)-->
      <!-- <div class="col card-add-details">
        <div class="form-budget col details" [ngClass]="{'show': showBlock3}" style="right: 70%;width: 30%;">
          <div class="d-flex justify-content-between">
            <div class="col">
              <h3>Пакет работ</h3>
            </div>
            <div class="col text-end">
              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="closed()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <mat-form-field>
            <mat-label>Выберите значение title</mat-label>
            <mat-select [(ngModel)]="selectedTitle" (selectionChange)="onSelectionChange()">
              <mat-option *ngFor="let option of fields" [value]="option.title">{{ option.title }}</mat-option>
            </mat-select>
          </mat-form-field>
          <form [formGroup]="workPackage">

            <mat-form-field>
              <input matInput formControlName="type" [(ngModel)]="selectedType" [placeholder]="'type'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="title" [(ngModel)]="selectedTitle" [placeholder]="'Title'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="contractor" [(ngModel)]="selectedContractor"
                [placeholder]="'Contractor'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="cost_total" [(ngModel)]="selectedCostTotal" [placeholder]="'cost_total'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="cost_pp" [(ngModel)]="selectedCostPp" [placeholder]="'cost_pp'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="mh" [(ngModel)]="selectedmh" [placeholder]="'mh'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="comments" [(ngModel)]="selectedComments" [placeholder]="'comments'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="project" [(ngModel)]="selectedProject" [placeholder]="'project'">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="region" [(ngModel)]="selectedRegions" [placeholder]="'region'">
            </mat-form-field>

            <button (click)="addWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
              <span class="d-flex align-items-center">Сохранить</span>
            </button>
          </form>
        </div>
      </div> -->

      <!-- Пакет работ (добавление)-->

      <div class="col card-add-details">
        <div class="form-budget col details" [ngClass]="{'show': showBlock3}" style="right: 70%;width: 30%;">
          <div class="d-flex justify-content-between">
            <div class="col">
              <h3>Пакет работ</h3>
            </div>
            <div class="col text-end">
              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="closed()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Выберите значение title</mat-label>
            <mat-select [(ngModel)]="selectedTitle" (selectionChange)="onSelectionChange1()">
              <mat-option *ngFor="let option of fields1" [value]="option.title">{{ option.title }}</mat-option>
            </mat-select>
          </mat-form-field >
          <form [formGroup]="workPackage">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Тип:</mat-label>
              <input matInput formControlName="type" [(ngModel)]="selectedType" [placeholder]="'type'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title" [(ngModel)]="selectedTitle" [placeholder]="'Title'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Подрядчик:</mat-label>
              <input matInput formControlName="contractor" [(ngModel)]="selectedContractor" [placeholder]="'Contractor'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Стоимость итого:</mat-label>
              <input matInput formControlName="cost_total" [(ngModel)]="selectedCostTotal" [placeholder]="'cost_total'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Стоимость удельная:</mat-label>
              <input matInput formControlName="cost_pp" [(ngModel)]="selectedCostPp" [placeholder]="'cost_pp'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Трудозатраты:</mat-label>
              <input matInput formControlName="mh" [(ngModel)]="selectedmh" [placeholder]="'mh'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Описание:</mat-label>
              <input matInput formControlName="comments" [(ngModel)]="selectedComments" [placeholder]="'comments'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Проект:</mat-label>
              <input matInput formControlName="project" [(ngModel)]="selectedProject" [placeholder]="'project'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Регион:</mat-label>
              <input matInput formControlName="region" [(ngModel)]="selectedRegions" [placeholder]="'region'">
            </mat-form-field>

            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
              appearance="outline">
              <mat-label>Предполагаемый бюджет:</mat-label>
              <mat-select formControlName="estimated_budget" [(ngModel)]="selectedName">
                <mat-option *ngFor="let option of getName" [value]="option.id">{{ option.title}} </mat-option>
              </mat-select>
            </mat-form-field>

            <button (click)="addWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
              <span class="d-flex align-items-center">Сохранить</span>
            </button>
          </form>
        </div>
      </div>

      <!-- Оборудование (добавление)-->
      <div class="col card-add-details">
        <div class="form-budget col details" [ngClass]="{'show': showBlock2}" style="right: 70%; width: 30%;">
          <div class="d-flex justify-content-between">
            <div class="col">
              <h3>Оборудование</h3>
            </div>
            <div class="col text-end">
              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="closed()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <mat-form-field>
            <mat-label>Выберите значение title</mat-label>
            <mat-select [(ngModel)]="selectedTitles" (selectionChange)="onSelectionChange2()">
              <mat-option *ngFor="let option of fields2" [value]="option.title">{{ option.title }}</mat-option>
            </mat-select>
          </mat-form-field >
          <form [formGroup]="equipmenForm">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title" [(ngModel)]="selectedTitles">

            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Тип:</mat-label>
              <input matInput formControlName="type" [(ngModel)]="selectedTypes">

            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Подрядчик:</mat-label>
              <input matInput formControlName="tech_description" [(ngModel)]="selectedTech_description">

            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Описание:</mat-label>
              <input matInput formControlName="cost" [(ngModel)]="selectedCost">

            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Стоимость итого:</mat-label>
              <input matInput formControlName="description" [(ngModel)]="selectedDescription">

            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Стоимость удельная:</mat-label>
              <input matInput formControlName="project" [(ngModel)]="selectedProjects">

            </mat-form-field>

            <!-- <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Трудозатраты:</mat-label>
              <input matInput formControlName="manufacturer" [(ngModel)]="selectedManufacturer">

            </mat-form-field> -->

            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
              appearance="outline">
              <mat-label>Предполагаемый бюджет:</mat-label>
              <mat-select formControlName="estimated_budget" [(ngModel)]="selectedName">
                <mat-option *ngFor="let option of getName" [value]="option.id">{{ option.title}} </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="d-flex justify-content-start">
              <button (click)="addEquipments()" style="margin-bottom: 15px;" mat-stroked-button
                class="mat-btn-recolor">
                <span class="d-flex align-items-center">Сохранить</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Объекты (добавление)-->
      <div class="col card-add-details">
        <div class="form-budget col details" [ngClass]="{'show': showBlock5}" style="right: 70%; width: 30%;">
          <div class="d-flex justify-content-between">
            <div class="col">
              <h3>Объекты</h3>
            </div>
            <div class="col text-end">
              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="closed()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>

          <form [formGroup]="analogForm">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>СМР:</mat-label>
              <input matInput formControlName="constr_smr">

            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Дата начала:</mat-label>
              <input formControlName="date_start" matInput [matDatepicker]="picker1">
              <mat-hint>{{getDateFormatString()}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Дата окончания:</mat-label>
              <input formControlName="date_end" matInput [matDatepicker]="picker2">
              <mat-hint>{{getDateFormatString()}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>ПИР:</mat-label>
              <input matInput formControlName="eng_pir">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Технические характеристики:</mat-label>
              <input matInput formControlName="tech_description">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Cost:</mat-label>
              <input matInput formControlName="cost">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Типовой раздел:</mat-label>
              <input matInput formControlName="type">
            </mat-form-field>

            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
              appearance="outline">
              <mat-label>Регион:</mat-label>
              <mat-select formControlName="region" [(ngModel)]="selectedRegion">
                <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title
                  }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
              appearance="outline">
              <mat-label>Title:</mat-label>
              <mat-select formControlName="estimated_budget" [(ngModel)]="selectedName">
                <mat-option *ngFor="let option of getName" [value]="option.id">{{ option.title}} </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="d-flex justify-content-start">
              <button (click)="addWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button
                class="mat-btn-recolor">
                <span class="d-flex align-items-center">Сохранить</span>
              </button>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
</div>