<div>
  <h1>{{ title }}</h1>
  <div *ngFor="let msg of messages">
    {{ msg }}
  </div>
  <div>
    <input [(ngModel)]="message" placeholder="Введите сообщение...">
    <button (click)="sendMessage()">Отправить</button>
  </div>
</div>
