<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          <!-- <button mat-stroked-button class="bnt-register--tools" (click)="Stages()"  >Применить</button> -->
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="contracts()">
            <mat-icon>library_add</mat-icon>
          </button>

          <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Валюта:</mat-label>
            <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="applyFilters()">
              <mat-option value="All">Все</mat-option>
              <mat-option *ngFor="let currency of currencyOptions" [value]="currency">{{ currency }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Статус:</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilters()">
              <mat-option value="All">Все</mat-option>
              <mat-option *ngFor="let option of statusOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Год</mat-label>
            <mat-select [(ngModel)]="selectedYear" (selectionChange)="applyFilters()">
              <mat-option *ngFor="let year of yearsRange" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
          <form [formGroup]="searchForm">
            <mat-form-field appearance="outline" style="margin-top: -5px; margin-left: 5px;"
              class="example-full-width select-create">
              <mat-label>Поиск:</mat-label>
              <input matInput formControlName="searchText" (input)="applyFilters()">
            </mat-form-field>
          </form>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр договоров</span>
          <span class="tools-inner">Форма создание договора и назначение этапов</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>
                <mat-tab-group animationDuration="0ms" [selectedIndex]="selected.value"
                  (selectedIndexChange)="selected.setValue($event)">
                  <mat-tab class="display-tab" label="Реестр">
                    <div class="mat-elevation-z8">
                      <!-- table -->
                      <table mat-table [dataSource]="filteredContracts">
                        <ng-container matColumnDef="code_counterparty">
                          <th mat-header-cell *matHeaderCellDef> Код контрагента </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{ element?.code_counterparty }}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="side">
                          <th mat-header-cell *matHeaderCellDef> Стороны </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element?.side}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="code_contract">
                          <th mat-header-cell *matHeaderCellDef> Код договора </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element?.code_contract}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="subject">
                          <th mat-header-cell *matHeaderCellDef> Предмет договора </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element?.subject}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.subject" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="amount_without_VAT">
                          <th mat-header-cell *matHeaderCellDef> Сумма без НДС </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element?.amount_without_VAT}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.amount_without_VAT" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="amount_with_VAT">
                          <th mat-header-cell *matHeaderCellDef> Сумма с НДС </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element?.amount_with_VAT}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.amount_with_VAT" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Действие </th>
                          <td mat-cell *matCellDef="let element" class="edit">
                            <button class="btn-table more" matTooltip="Подробнее" matTooltipPosition="right"
                              mat-stroked-button (click)="showDetails(element)">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[15, 20, 30]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                    <!-- showBlock1 -->
                    <div class="col block" [ngClass]="{'show': showBlock1}">
                      <div class="d-flex justify-content-between">
                        <div class="col">
                          <h3>Редактирование договора</h3>
                        </div>
                        <div class="col text-end">
                          <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="closed()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="col">
                        <div class="d-flex flex-column" *ngIf="contractDetails">
                          <div class="d-flex flex-wrap justify-content-between">
                            <div class="col d-flex justify-content-center">
                              <div class="row">
                                <div class="col">
                                  <div class="sub-title">
                                    Стороны:
                                    <span *ngIf="!contractDetails.editing">{{contractDetails.side}}</span>
                                    <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.side"
                                      class="editing">
                                  </div>
                                  <div class="sub-title">
                                    Код контрагента:
                                    <span *ngIf="!contractDetails.editing">{{contractDetails.code_counterparty}}</span>
                                    <input matInput *ngIf="contractDetails.editing"
                                      [(ngModel)]="contractDetails.code_counterparty" class="editing">
                                  </div>
                                  <div class="sub-title">
                                    Предмет договора:
                                    <span *ngIf="!contractDetails.editing">{{contractDetails.subject}}</span>
                                    <input matInput *ngIf="contractDetails.editing"
                                      [(ngModel)]="contractDetails.subject" class="editing">
                                  </div>
                                </div>
                                <div class="col text-end">
                                  <div class="sub-title">
                                    номер договора:
                                    <span *ngIf="!contractDetails.editing">{{contractDetails.legal_number}}</span>
                                    <input matInput *ngIf="contractDetails.editing"
                                      [(ngModel)]="contractDetails.legal_number" class="editing">
                                  </div>
                                  <div class="sub-title">
                                    Код договора:
                                    <span *ngIf="!contractDetails.editing">{{contractDetails.code_contract}}</span>
                                    <input matInput *ngIf="contractDetails.editing"
                                      [(ngModel)]="contractDetails.code_contract" class="editing">
                                  </div>
                                  <div class="sub-title">
                                    Статус:
                                    <span *ngIf="!contractDetails.editing">
                                      {{contractDetails.status}}
                                    </span>
                                    <mat-form-field *ngIf="contractDetails.editing">
                                      <mat-label>{{contractDetails.status}}</mat-label>
                                      <mat-select [(ngModel)]="statusSet">
                                        <mat-option *ngFor="let status of statusSets" [value]="status[1]">{{ status[1]
                                          }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <!-- <h3>Детали договора</h3> -->
                                    <mat-accordion>
                                      <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            <h3>Стоимость</h3>
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row-set">
                                          Ставка НДС:
                                          <span *ngIf="!contractDetails.editing">
                                            {{contractDetails.VAT_rate}}
                                          </span>
                                          <mat-form-field *ngIf="contractDetails.editing">
                                            <mat-label>{{contractDetails.VAT_rate}}</mat-label>
                                            <mat-select [(ngModel)]="varRateSet">
                                              <mat-option *ngFor="let varrate of varRateSets" [value]="varrate[1]">{{
                                                varrate[1] }}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                        <div class="row-set">
                                          Сумма без НДС:
                                          <span
                                            *ngIf="!contractDetails.editing">{{contractDetails.amount_without_VAT}}</span>
                                          <input matInput *ngIf="contractDetails.editing"
                                            [(ngModel)]="contractDetails.amount_without_VAT" class="editing">
                                        </div>
                                        <div class="row-set">
                                          Сумма с НДС:
                                          <span
                                            *ngIf="!contractDetails.editing">{{contractDetails.amount_with_VAT}}</span>
                                          <input matInput *ngIf="contractDetails.editing"
                                            [(ngModel)]="contractDetails.amount_with_VAT" class="editing">
                                        </div>
                                        <div class="row-set">
                                          Лимит по договору:
                                          <span
                                            *ngIf="!contractDetails.editing">{{contractDetails.contract_limit}}</span>
                                          <input matInput *ngIf="contractDetails.editing"
                                            [(ngModel)]="contractDetails.contract_limit" class="editing">
                                        </div>
                                        <div class="row-set">
                                          Схема оплаты:
                                          <span *ngIf="!contractDetails.editing">{{contractDetails.pay_schem}}
                                          </span>
                                          <mat-form-field *ngIf="contractDetails.editing">
                                            <mat-label>{{contractDetails.pay_schem}}</mat-label>
                                            <mat-select [(ngModel)]="payScheme">
                                              <mat-option *ngFor="let option of paySchemes"
                                                [value]="option.id">{{option.name}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                        <div class="row-set">
                                          Аванс, %:
                                          <span *ngIf="!contractDetails.editing">{{contractDetails.advance}}</span>
                                          <input matInput *ngIf="contractDetails.editing"
                                            [(ngModel)]="contractDetails.advance" class="editing">
                                        </div>
                                        <div class="row-set">
                                          Валюта:
                                          <span *ngIf="!contractDetails.editing">
                                            {{contractDetails.currency}}
                                          </span>
                                          <mat-form-field *ngIf="contractDetails.editing">
                                            <mat-label>{{contractDetails.currency}}</mat-label>
                                            <mat-select [(ngModel)]="CurrencySet">
                                              <mat-option *ngFor="let currency of CurrencySets" [value]="currency[1]">{{
                                                currency[1] }}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                      </mat-expansion-panel>
                                    </mat-accordion>
                                  </div>
                                  <div class="col">
                                    <div class="col">
                                      <!-- <h3>Финансирование</h3> -->
                                      <mat-accordion>
                                        <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              <h3>Фактические показатели</h3>
                                            </mat-panel-title>
                                          </mat-expansion-panel-header>

                                          <div class="row-set">
                                            Факт освоения:
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.fact_development}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.fact_development" class="editing">
                                          </div>
                                          <div class="row-set">
                                            % освоения:
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.prcent_development}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.prcent_development" class="editing">
                                          </div>
                                          <div class="row-set">
                                            Факт финансирования:
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.fact_financing}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.fact_financing" class="editing">
                                          </div>
                                          <div class="row-set">
                                            % финансирования:
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.procent_financing}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.procent_financing" class="editing">
                                          </div>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                    </div>
                                    <div class="col">
                                      <mat-accordion>
                                        <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              <h3>Даты</h3>
                                            </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <div class="row-set">
                                            Дата начала:
                                            <span *ngIf="!contractDetails.editing">
                                              {{ contractDetails.date_start | date: 'YYYY-MM-dd' }}
                                            </span>
                                            <mat-form-field appearance="legacy" *ngIf="contractDetails.editing">
                                              <mat-label *ngIf="!contractDetails.editing">{{contractDetails.date_start |
                                                date: 'YYYY-MM-DD'}}</mat-label>
                                              <input matInput [matDatepicker]="picker"
                                                [(ngModel)]="contractDetails.date_start">
                                              <mat-hint>{{getDateFormatString()}}</mat-hint>
                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                              <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                          </div>
                                          <div class="row-set">
                                            Дата окончания:
                                            <span *ngIf="!contractDetails.editing">
                                              {{ contractDetails.date_end | date: 'YYYY-MM-dd' }}
                                            </span>
                                            <mat-form-field appearance="legacy" *ngIf="contractDetails.editing">
                                              <mat-label *ngIf="!contractDetails.editing">{{contractDetails.date_end |
                                                date: 'YYYY-MM-DD'}}</mat-label>
                                              <input matInput [matDatepicker]="picker"
                                                [(ngModel)]="contractDetails.date_end">
                                              <mat-hint>{{getDateFormatString()}}</mat-hint>
                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                              <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                          </div>
                                          <div class="row-set">
                                            Юр. номер(SAP):
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.legal_code_SAP}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.legal_code_SAP" class="editing">
                                          </div>
                                          <div class="row-set">
                                            Номер договора(SAP):
                                            <span
                                              *ngIf="!contractDetails.editing">{{contractDetails.num_contr_SAP}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.num_contr_SAP" class="editing">
                                          </div>
                                          <div class="row-set">
                                            Дата договора(SAP):
                                            <span *ngIf="!contractDetails.editing">
                                              {{ contractDetails.date_contr_SAP | date: 'YYYY-MM-dd' }}
                                            </span>
                                            <mat-form-field appearance="legacy" *ngIf="contractDetails.editing">
                                              <mat-label
                                                *ngIf="!contractDetails.editing">{{contractDetails.date_contr_SAP |
                                                date: 'YYYY-MM-DD'}}</mat-label>
                                              <input matInput [matDatepicker]="picker6"
                                                [(ngModel)]="contractDetails.date_contr_SAP">
                                              <mat-hint>{{getDateFormatString()}}</mat-hint>
                                              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                              <mat-datepicker #picker6></mat-datepicker>
                                            </mat-form-field>
                                          </div>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                    </div>
                                    <!-- <h3>Даты</h3> -->
                                    <div class="col">
                                      <mat-accordion>
                                        <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              <h3>СДР</h3>
                                            </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <div class="row-set">
                                            Код СДР:
                                            <span *ngIf="!contractDetails.editing">{{contractDetails.sdr_id}}</span>
                                            <input matInput *ngIf="contractDetails.editing"
                                              [(ngModel)]="contractDetails.sdr_id" class="editing">
                                          </div>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                      <!-- <h3>СДР</h3> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="col">
                              <button class="btn-table mat-btn-recolor" matTooltip="Изменить" mat-stroked-button
                                *ngIf="!contractDetails.editing" (click)="edit(contractDetails)">
                                <span>Редактировать договор</span>
                              </button>
                              <button class="btn-table done " matTooltip="Сохранить" mat-stroked-button
                                *ngIf="contractDetails.editing" (click)="saveReg(contractDetails)">
                                <span>Сохранить</span>
                              </button>
                              <button class="btn-table mat-btn-recolor" matTooltip="Добавить" mat-stroked-button
                                style="margin-left: 5px;" (click)="addElementPay()">
                                <span>Добавить платёж</span>
                                <mat-icon style="margin-left: 5px;">library_add</mat-icon>
                              </button>
                              <button class="btn-table mat-btn-recolor" matTooltip="Добавить" mat-stroked-button
                                style="margin-left: 5px;" (click)="addElementActs()">
                                <span>Добавить акт</span>
                                <mat-icon style="margin-left: 5px;">library_add</mat-icon>

                              </button>
                            </div>
                            <!-- Платежи -->
                            <mat-tab-group>
                              <mat-tab label="Платежи, факт">
                                <table class="table">
                                  <thead style="font-size: 12px;">
                                    <tr>
                                      <th scope="col">Статус</th>
                                      <th scope="col">Этап</th>
                                      <th scope="col">Сумма</th>
                                      <th scope="col">Сумма без учета НДС</th>
                                      <th scope="col">Сумма НДС</th>
                                      <th scope="col">Действие</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="let facts of fact | slice: paginator3.pageIndex * paginator3.pageSize : (paginator1.pageIndex + 1) * paginator1.pageSize">
                                      <td>
                                        <span *ngIf="!facts.editing">{{ facts.status }}</span>
                                        <input matInput *ngIf="facts.editing" [(ngModel)]="facts.status"
                                          class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!facts.editing">{{ facts.stage }}</span>
                                        <input matInput *ngIf="facts.editing" [(ngModel)]="facts.stage" class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!facts.editing">{{ facts.amount }}</span>
                                        <input matInput *ngIf="facts.editing" [(ngModel)]="facts.amount"
                                          class="editing">
                                      </td>
                                      <td>{{ facts.amount_without_VAT }}</td>
                                      <td>{{ facts.amount_VAT }}</td>
                                      <td>
                                        <button class="btn-table more" matTooltip="Подробнее" matTooltipPosition="right"
                                          mat-stroked-button (click)="showFactDetails(contractDetails.id, facts.id)">
                                          <mat-icon style="font-size: 25px;">more_vert</mat-icon>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <mat-paginator [length]="payments.length" [pageSize]="pageSize"
                                  [pageSizeOptions]="pageSizeOptions" (page)="onPagePayments($event)">
                                </mat-paginator>
                              </mat-tab>
                              <mat-tab label="Платежи, план">
                                <table class="table">
                                  <thead style="font-size: 12px;">
                                    <tr>
                                      <th scope="col">Тип платежа</th>
                                      <th scope="col">Дата</th>
                                      <th scope="col">Этап</th>
                                      <th scope="col">статья бюджета</th>
                                      <th scope="col">Сумма</th>
                                      <th scope="col">Сумма без учета НДС</th>
                                      <th scope="col">Сумма НДС</th>
                                      <th scope="col">Действие</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="let payment of payments | slice: paginator1.pageIndex * paginator1.pageSize : (paginator1.pageIndex + 1) * paginator1.pageSize">
                                      <th scope="row">
                                        <span *ngIf="!payment.editing">{{ payment.type_pay }}</span>
                                        <mat-form-field *ngIf="payment.editing">
                                          <mat-label>{{ payment.type_pay }}</mat-label>
                                          <mat-select [(ngModel)]="payment.type_pay">
                                            <mat-option *ngFor="let typepay of typePays" [value]="typepay[1]">{{
                                              typepay[0] }}</mat-option>
                                          </mat-select>
                                        </mat-form-field>

                                      </th>
                                      <td>
                                        <span *ngIf="!payment.editing">{{ payment.date_pay | date: 'YYYY-MM-dd'
                                          }}</span>
                                        <mat-form-field appearance="legacy" *ngIf="payment.editing">
                                          <mat-label *ngIf="!payment.editing">{{payment.date_pay | date:
                                            'YYYY-MM-DD'}}</mat-label>
                                          <input matInput [matDatepicker]="picker" [(ngModel)]="payment.date_pay">
                                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                      </td>
                                      <td>
                                        <span *ngIf="!payment.editing">{{ payment.stage }}</span>
                                        <input matInput *ngIf="payment.editing" [(ngModel)]="payment.stage"
                                          class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!payment.editing">{{ payment.budget_item }}</span>
                                        <input matInput *ngIf="payment.editing" [(ngModel)]="payment.budget_item"
                                          class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!payment.editing">{{ payment.amount }}</span>
                                        <input matInput *ngIf="payment.editing" [(ngModel)]="payment.amount"
                                          class="editing">
                                      </td>
                                      <td>{{ payment.amount_without_VAT }}</td>
                                      <td>{{ payment.amount_VAT }}</td>
                                      <td>
                                        <button class="btn-table btn-tbl mat-btn-recolor" matTooltip="Изменить"
                                          mat-stroked-button *ngIf="!payment.editing" (click)="editPayments(payment)">
                                          <mat-icon style="font-size: 25px;">edit</mat-icon>
                                        </button>
                                        <button class="btn-table done btn-tbl mat-btn-recolor" matTooltip="Сохранить"
                                          mat-stroked-button *ngIf="payment.editing"
                                          (click)="savePayment(contractDetails.id,payment)">
                                          <mat-icon style="font-size: 25px;">done</mat-icon>
                                        </button>
                                        <button (click)="deletePayment(contractDetails.id, payment.id)" color="warn"
                                          class="btn-table btn-tbl" matTooltip="Удалить" mat-stroked-button>
                                          <mat-icon style="font-size: 25px;">clear</mat-icon>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <mat-paginator [length]="payments.length" [pageSize]="pageSize"
                                  [pageSizeOptions]="pageSizeOptions" (page)="onPagePayments($event)">
                                </mat-paginator>
                              </mat-tab>
                              <!-- Акты -->
                              <mat-tab label="Акты">
                                <table class="table">
                                  <thead style="font-size: 12px;">
                                    <tr>
                                      <th scope="col">Описание</th>
                                      <th scope="col" style="width: 10%;">Документ Факт</th>
                                      <th scope="col">Дата</th>
                                      <th scope="col">Этап</th>
                                      <th scope="col">Cтатья затрат</th>
                                      <th scope="col">Cумма</th>
                                      <th scope="col">Сумма без учета НДС</th>
                                      <th scope="col">Сумма НДС</th>
                                      <th scope="col" style="width: 15%;">Действие</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="let act of getAct | slice: paginator2.pageIndex * paginator2.pageSize : (paginator2.pageIndex + 1) * paginator2.pageSize">
                                      <th scope="row">
                                        <span *ngIf="!act.editing">{{ act.description }}</span>
                                        <input matInput *ngIf="act.editing" [(ngModel)]="act.description"
                                          class="editing">
                                      </th>
                                      <td>
                                        <span *ngIf="!act.editing">{{ act.document_fact }}</span>
                                        <input matInput *ngIf="act.editing" [(ngModel)]="act.document_fact"
                                          class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!act.editing">{{ act.planned_date | date: 'YYYY-MM-dd'}}</span>
                                        <mat-form-field appearance="legacy" *ngIf="act.editing">
                                          <mat-label *ngIf="!act.editing">{{act.planned_date | date:
                                            'YYYY-MM-DD'}}</mat-label>
                                          <input matInput [matDatepicker]="picker" [(ngModel)]="act.planned_date">
                                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                      </td>
                                      <td>
                                        <span *ngIf="!act.editing">{{ act.stage }}</span>
                                        <input matInput *ngIf="act.editing" [(ngModel)]="act.stage" class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!act.editing">{{ act.cost_item }}</span>
                                        <input matInput *ngIf="act.editing" [(ngModel)]="act.cost_item" class="editing">
                                      </td>
                                      <td>
                                        <span *ngIf="!act.editing">{{ act.amount }}</span>
                                        <input matInput *ngIf="act.editing" [(ngModel)]="act.amount" class="editing">
                                      </td>
                                      <td>{{ act.amount_without_VAT }}</td>
                                      <td>{{ act.amount_VAT }}</td>
                                      <td>
                                        <button class="btn-table btn-tbl mat-btn-recolor" matTooltip="Изменить"
                                          mat-stroked-button *ngIf="!act.editing" (click)="editActs(act)">
                                          <mat-icon style="font-size: 25px;">edit</mat-icon>
                                        </button>
                                        <button class="btn-table done btn-tbl mat-btn-recolor" matTooltip="Сохранить"
                                          mat-stroked-button *ngIf="act.editing"
                                          (click)="saveActs(contractDetails.id,act)">
                                          <mat-icon style="font-size: 25px;">done</mat-icon>
                                        </button>
                                        <button (click)="deleteActs(contractDetails.id, act.id)" color="warn"
                                          class="btn-table btn-tbl" matTooltip="Удалить" mat-stroked-button>
                                          <mat-icon style="font-size: 25px;">clear</mat-icon>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <mat-paginator [length]="getAct.length" [pageSize]="pageSize"
                                  [pageSizeOptions]="pageSizeOptions" (page)="onPageActs($event)">
                                </mat-paginator>
                              </mat-tab>
                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- showBlock2 -->
                    <div class="col add-block" [ngClass]="{'show': showBlock2}"
                      style="padding: 25px;overflow: auto; width: 47%;">
                      <div class="col">
                        <div class="row">
                          <h2>Платежи</h2>
                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <mat-tab-group animationDuration="0ms">
                          <mat-tab label="Плановый">

                            <form [formGroup]="paymentForm"
                              (ngSubmit)="contractDetails && addPayment(contractDetails.id)">
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Тип платежа:</mat-label>
                                <mat-select formControlName="type_pay">
                                  <mat-option *ngFor="let typepay of typePays" [value]="typepay[1]">{{ typepay[0]
                                    }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Дата платежа:</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date_pay">
                                <mat-hint>{{getDateFormatString()}}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Этап:</mat-label>
                                <input matInput formControlName="stage">
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Статья бюджета:</mat-label>
                                <input matInput formControlName="budget_item">
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Сумма с НДС:</mat-label>
                                <input matInput formControlName="amount">
                              </mat-form-field>
                              <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                                type="submit">
                                <span class="d-flex align-items-center">Добавить</span>
                              </button>
                            </form>
                          </mat-tab>
                          <mat-tab label="Фактический">

                            <form [formGroup]="dynamicForm">
                              <!-- Другие статические поля вашей формы... -->

                              <!-- Dynamic Group 1 -->
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Счёта-фактуры</h5>
                                  <div class="table-responsive">
                                    <table class="table ">
                                      <thead style="font-size: 12px;">
                                        <tr>
                                          <th scope="col">№ Документа</th>
                                          <th scope="col">Дата документа</th>
                                          <th scope="col">Сумма с НДС</th>
                                          <th scope="col">Порядок расчётов согласно условиям договора</th>
                                          <th scope="col">Действие</th>
                                        </tr>
                                      </thead>
                                      <tbody formArrayName="by_invoices">
                                        <tr *ngFor="let group of by_invoices.controls; let i = index"
                                          [formGroupName]="i">
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="num_document"></textarea>
                                          </td>
                                          <td>

                                            <mat-form-field appearance="legacy">
                                              <input matInput [matDatepicker]="data1" formControlName="date_document">

                                              <mat-datepicker-toggle matSuffix [for]="data1"></mat-datepicker-toggle>
                                              <mat-datepicker #data1></mat-datepicker>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="amount"></textarea>

                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="pay_procedure"></textarea>
                                          </td>
                                          <td>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                              <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                              <button mat-menu-item (click)="removeGroup1(i)">
                                                <mat-icon>clear</mat-icon>
                                                <span>Удалить</span>
                                              </button>
                                            </mat-menu>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <button class="button-add-row" mat-button (click)="addGroup1()">+ Добавить
                                      счёт-фактуру</button>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Счета на предоплату</h5>
                                  <div class="table-responsive">
                                    <table class="table ">
                                      <thead style="font-size: 12px;">
                                        <tr>
                                          <th scope="col">№ Документа</th>
                                          <th scope="col">Дата документа</th>
                                          <th scope="col">Сумма с НДС</th>
                                          <th scope="col">Порядок расчётов, поставки (выполнения работ) согласно
                                            условиям
                                            договора</th>
                                          <th scope="col">Действие</th>
                                        </tr>
                                      </thead>
                                      <tbody formArrayName="by_prepay_invoices">

                                        <tr *ngFor="let group of by_prepay_invoices.controls; let i = index"
                                          [formGroupName]="i">
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="num_document"></textarea>
                                          </td>
                                          <td>

                                            <mat-form-field appearance="legacy">
                                              <input matInput [matDatepicker]="picker" formControlName="date_document">

                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                              <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="amount"></textarea>

                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="pay_procedure"></textarea>
                                          </td>
                                          <td>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                              <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                              <button mat-menu-item (click)="removeGroup2(i)">
                                                <mat-icon>clear</mat-icon>
                                                <span>Удалить</span>
                                              </button>
                                            </mat-menu>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <button class="button-add-row" mat-button (click)="addGroup2()">+ Добавить
                                      счёт на предоплату </button>
                                  </div>
                                </div>
                              </div>



                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Пункты плана</h5>
                              
                                  <div class="row"> <!-- Создаем новую строку -->
                              
                                    <!-- Левая колонка -->
                                    <div class="col-6">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead style="font-size: 12px;">
                                            <tr>
                                              <th scope="col">Пункты</th>
                                              <th scope="col">Действия</th>
                                            </tr>
                                          </thead>
                                          <tbody formArrayName="planitems">
                                            <tr *ngFor="let group of planitems.controls; let i = index" [formGroupName]="i">
                                              <td>
                                                <input mdbInput type="text" class="form-control" formControlName="plan_item" />
                                              </td>
                                              <td>
                                                <button mat-icon-button (click)="removeGroup3(i)">
                                                  <mat-icon>clear</mat-icon>
                                                </button>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <button class="button-add-row" mat-button (click)="addGroup3()">+ Добавить пункт плана</button>
                                      </div>
                                    </div>
                              
                                    <!-- Правая колонка -->
                                    <div class="col-6">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                        <mat-label>Этап:</mat-label>
                                        <input matInput formControlName="stage">
                                      </mat-form-field>
                              
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                        <mat-label>Группы учета:</mat-label>
                                        <mat-select formControlName="accounting_groups" [(ngModel)]="selectedAccounting">
                                          <mat-option *ngFor="let rate of getAccounting" [value]="rate">{{ rate }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                              
                                  </div>
                                </div>
                              </div>

                              <button class="btn-table mat-btn-recolor" (click)="addPaymentsFact(contractDetails.id)"
                                mat-stroked-button>
                                <span class="d-flex align-items-center">Добавить</span>
                              </button>

                            </form>


                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>
                    <!-- showBlock3 -->
                    <div class="col add-block" [ngClass]="{'show': showBlock3}" style="padding: 25px;">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <h2>Акты</h2>
                          </div>
                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <form [formGroup]="actsForm" (ngSubmit)="contractDetails && addActs(contractDetails.id)">
                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Описание:</mat-label>
                            <input matInput formControlName="description">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Документ Факт:</mat-label>
                            <input matInput formControlName="document_fact">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата платежа:</mat-label>
                            <input matInput [matDatepicker]="datepicker2" formControlName="planned_date">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker2></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Этап:</mat-label>
                            <input matInput formControlName="stage">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Статья бюджета:</mat-label>
                            <input matInput formControlName="cost_item">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Сумма с НДС:</mat-label>
                            <input matInput formControlName="amount">
                          </mat-form-field>
                          <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                            type="submit">
                            <span class="d-flex align-items-center">Добавить</span>
                          </button>
                        </form>
                      </div>
                    </div>

                    <!-- showBlock4 -->
                    <div class="block" [ngClass]="{'show': showBlock4}" style="width: 30%; padding: 25px;">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <h2>Добавить договор</h2>
                          </div>

                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <form [formGroup]="contractsCreate">
                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Код контрагента:</mat-label>
                            <mat-select formControlName="code_counterparty" [(ngModel)]="selectedCon">
                              <mat-option *ngFor="let rate of getContracts" [value]="rate.code">{{ rate.code }} &nbsp;
                                {{ rate.name }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Код договора:</mat-label>
                            <input matInput formControlName="code_contract">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Юридический номер договора:</mat-label>
                            <input matInput formControlName="legal_number">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Предмет договора:</mat-label>
                            <input matInput formControlName="subject">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Ставка НДС:</mat-label>
                            <mat-select formControlName="VAT_rate" [(ngModel)]="selectedVAR">
                              <mat-option *ngFor="let rate of getVARrate" [value]="rate">{{ rate }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Сумма с НДС:</mat-label>
                            <input matInput formControlName="amount_with_VAT">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Валюта:</mat-label>
                            <mat-select formControlName="currency" [(ngModel)]="selectedCur">
                              <mat-option *ngFor="let currency of getCurrency" [value]="currency">{{ currency
                                }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата начала:</mat-label>
                            <input matInput [matDatepicker]="picker3" formControlName="date_start">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата окончания:</mat-label>
                            <input matInput [matDatepicker]="datepicker4" formControlName="date_end">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker4"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker4></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Юр. номер (SAP):</mat-label>
                            <input matInput formControlName="legal_code_SAP">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Номер договора (SAP):</mat-label>
                            <input matInput formControlName="num_contr_SAP">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата договора (SAP):</mat-label>
                            <input matInput [matDatepicker]="datepicker5" formControlName="date_contr_SAP">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker5"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker5></mat-datepicker>
                          </mat-form-field>

                          <button (click)="addContractsCreate()" class="btn-table mat-btn-recolor"
                            matTooltip="Сохранить" mat-stroked-button type="submit">
                            <span class="d-flex align-items-center">Сохранить</span>
                          </button>
                        </form>
                      </div>
                    </div>

                    <!-- showBlock5 -->
                    <div class="block" [ngClass]="{'show': showBlock5}" style="width: 53%; padding: 25px;">
                      <div class="row">
                        <div class="col">
                          <h2>Подробнее</h2>

                        </div>

                        <div class="col text-end">
                          <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>

                      <div class="col" *ngFor="let item of factDetails">
                        <!-- <button class="btn btn-link" style="font-size: 11px; padding-left: 0;" [matMenuTriggerFor]="menu">
                          Редактировать 
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item *ngIf="!item.editing" (click)="editItem(item)">
                            <mat-icon>edit</mat-icon>
                            <span>Редактировать</span>
                          </button>
                          <button mat-menu-item *ngIf="item.editing" (click)="saveItem(item)">
                            <mat-icon>done</mat-icon>
                            <span>Сохранить</span>
                          </button>
                        </mat-menu> -->
                        <button class="btn btn-link col-3" style="font-size: 11px; padding: 0;" mat-menu-item
                          *ngIf="!item.editing" (click)="editItem(item)">
                          <span>Редактировать</span>
                        </button>
                        <button class="btn btn-link col-3" style="font-size: 11px; padding: 0;" mat-menu-item
                          *ngIf="item.editing" (click)="editPaymentFact(contractDetails.id, item)">
                          <span>Сохранить</span>
                        </button>

                        <div class="row">
                          <div class="col-6">
                            <div class="sub-title">
                              Статус:
                              <span *ngIf="!item.editing">{{ item.status }}</span>
                              <!-- <input matInput *ngIf="item.editing" [(ngModel)]="item.status" class="editing"> -->
                              <mat-form-field *ngIf="item.editing" appearance="outline" class="example-full-width"
                                style="width: 100%;">
                                <mat-label>Статус:</mat-label>
                                <mat-select [(ngModel)]="selectedStatuses">

                                  <mat-option *ngFor="let rate of getStatuses" [value]="rate">{{ rate }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="sub-title">
                              Этап:
                              <span *ngIf="!item.editing">{{ item.stage }}</span>
                              <input matInput *ngIf="item.editing" [(ngModel)]="item.stage" class="editing">
                            </div>
                            <div class="sub-title">
                              Группа учета :
                              <span *ngIf="!item.editing">{{ item.accounting_group }}</span>
                              <!-- <input matInput *ngIf="item.editing" [(ngModel)]="item.accounting_group" class="editing"> -->
                              <mat-form-field *ngIf="item.editing" appearance="outline" class="example-full-width"
                                style="width: 100%;">
                                <mat-label>Статус:</mat-label>
                                <mat-select [(ngModel)]="selectedAccounting">
                                  <mat-option *ngFor="let rate of getAccounting" [value]="rate">{{ rate }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="sub-title">
                              Стоимость:
                              <span *ngIf="!item.editing">{{ item.amount }}</span>
                              <input matInput *ngIf="item.editing" [(ngModel)]="item.amount" class="editing">
                            </div>
                            <div class="sub-title">
                              Сумма без НДС:
                              <span *ngIf="!item.editing">{{ item.amount_without_VAT }}</span>
                              <input matInput disabled *ngIf="item.editing" [(ngModel)]="item.amount_without_VAT"
                                class="editing">
                            </div>
                            <div class="sub-title">
                              Сумма НДС:
                              <span *ngIf="!item.editing">{{ item.amount_VAT }}</span>
                              <input matInput disabled *ngIf="item.editing" [(ngModel)]="item.amount_VAT"
                                class="editing">
                            </div>
                          </div>
                        </div>





                        <mat-accordion>
                          <tr>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                Пункты плана
                              </mat-expansion-panel-header>

                              <table class="table table-sm">
                                <tbody>
                                  <tr *ngFor="let item of plan_items">
                                    <td>
                                      <span *ngIf="!item.editing">{{ item.item }}</span>
                                      <input matInput *ngIf="item.editing" [(ngModel)]="item.item" class="editing">
                                    </td>

                                    <td>
                                      <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngIf="!item.editing" (click)="editItem(item)">
                                          <mat-icon>edit</mat-icon>
                                          <span>Изменить</span>
                                        </button>
                                        <button mat-menu-item *ngIf="item.editing"
                                          (click)="editItems(contractDetails.id, contractDetailsFact.id,item)">
                                          <mat-icon>done</mat-icon>
                                          <span>Сохранить</span>
                                        </button>
                                        <button mat-menu-item
                                          (click)="delItems(contractDetails.id, contractDetailsFact.id,item)">
                                          <mat-icon>clear</mat-icon>
                                          <span>Удалить</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </tr>
                                  <tr *ngIf="newPlanItemVisible">
                                    <td>
                                      <form [formGroup]="ItemsForm"
                                        (ngSubmit)="saveItems(contractDetails.id, contractDetailsFact.id)">
                                        <mat-form-field appearance="outline" class="example-full-width row"
                                          style="width: 100%;">
                                          <input matInput formControlName="item" сlass="col-10">
                                        </mat-form-field>
                                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить"
                                          mat-stroked-button type="submit">
                                          <span class="d-flex align-items-center col-2">Создать</span>
                                        </button>
                                      </form>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <button class="button-add-row" mat-button (click)="addRowPlanItems()">+ Добавить
                                        пункт плана</button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </mat-expansion-panel>
                          </tr>
                        </mat-accordion>



                        <mat-tab-group animationDuration="0ms">
                          <mat-tab label="Счета-фактуры">
                            <div class="card">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table ">
                                    <thead style="font-size: 12px;">
                                      <tr>
                                        <th scope="col">№ Документа</th>
                                        <th scope="col">Дата документа</th>
                                        <th scope="col">Сумма с НДС</th>
                                        <th scope="col">Порядок расчётов согласно условиям договора</th>
                                        <th scope="col">Действие</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let element of invoices">
                                        <td>
                                          <span *ngIf="!element.editing">{{ element.num_document }}</span>
                                          <input matInput *ngIf="element.editing" [(ngModel)]="element.num_document"
                                            class="editing">

                                        </td>
                                        <td>
                                          <span *ngIf="!element.editing">{{ element.date_document | date:
                                            'YYYY-MM-dd'
                                            }}</span>
                                          <mat-form-field appearance="legacy" *ngIf="element.editing">
                                            <input matInput [matDatepicker]="picker"
                                              [(ngModel)]="element.date_document">
                                            <mat-hint>{{ getDateFormatString() }}</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                        </td>
                                        <td>
                                          <span *ngIf="!element.editing">{{ element.amount }}</span>
                                          <input matInput *ngIf="element.editing" [(ngModel)]="element.amount"
                                            class="editing">
                                        </td>
                                        <td>
                                          <span *ngIf="!element.editing">{{ element.pay_procedure }}</span>
                                          <textarea matInput *ngIf="element.editing" [(ngModel)]="element.pay_procedure"
                                            class="editing" rows="4"></textarea>
                                        </td>
                                        <td>
                                          <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                          <mat-menu #menu="matMenu">
                                            <button mat-menu-item *ngIf="!element.editing" (click)="editItem(element)">
                                              <mat-icon>edit</mat-icon>
                                              <span>Изменить</span>
                                            </button>
                                            <button mat-menu-item *ngIf="element.editing"
                                              (click)="ediInvoices(contractDetails.id, contractDetailsFact.id,element)">
                                              <mat-icon>done</mat-icon>
                                              <span>Сохранить</span>
                                            </button>
                                            <button mat-menu-item
                                              (click)="delInvoices(contractDetails.id, contractDetailsFact.id,element)">
                                              <mat-icon>clear</mat-icon>
                                              <span>Удалить</span>
                                            </button>
                                          </mat-menu>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- <button class="button-add-row" mat-button (click)="addRowInvoices()">+Добавить счёт-фактуру</button> -->
                                  <button class="button-add-row" mat-button (click)="addInvoices()">+ Добавить
                                    счёт-фактуру</button>

                                </div>
                              </div>
                            </div>
                          </mat-tab>

                          <mat-tab label="Счета на предоплату">
                            <div class="card">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead style="font-size: 12px;">
                                      <tr>
                                        <th scope="col">№ Документа</th>
                                        <th scope="col">Дата документа</th>
                                        <th scope="col">Сумма с НДС</th>
                                        <th scope="col">Порядок расчётов, поставки (выполнения работ) согласно
                                          условиям
                                          договора</th>
                                        <th scope="col">Действие</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of prepay_invoices">
                                        <td>
                                          <span *ngIf="!item.editing">{{ item.num_document }}</span>
                                          <input matInput *ngIf="item.editing" [(ngModel)]="item.num_document"
                                            class="editing">
                                        </td>
                                        <td>
                                          <span *ngIf="!item.editing">{{ item.date_document | date: 'YYYY-MM-dd'
                                            }}</span>
                                          <mat-form-field appearance="legacy" *ngIf="item.editing">
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="item.date_document">
                                            <mat-hint>{{ getDateFormatString() }}</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                        </td>
                                        <td>
                                          <span *ngIf="!item.editing">{{ item.amount }}</span>
                                          <input matInput *ngIf="item.editing" [(ngModel)]="item.amount"
                                            class="editing">
                                        </td>
                                        <td>
                                          <span *ngIf="!item.editing">{{ item.pay_procedure }}</span>
                                          <textarea matInput *ngIf="item.editing" [(ngModel)]="item.pay_procedure"
                                            class="editing" rows="4"></textarea>
                                        </td>
                                        <td>
                                          <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                          <mat-menu #menu="matMenu">
                                            <button mat-menu-item *ngIf="!item.editing" (click)="editItem(item)">
                                              <mat-icon>edit</mat-icon>
                                              <span>Изменить</span>
                                            </button>
                                            <button mat-menu-item *ngIf="item.editing"
                                              (click)="editPrepayInvoices(contractDetails.id, contractDetailsFact.id,item)">
                                              <mat-icon>done</mat-icon>
                                              <span>Сохранить</span>
                                            </button>
                                            <button mat-menu-item
                                              (click)="delPrepayInvoices(contractDetails.id, contractDetailsFact.id,item)">
                                              <mat-icon>clear</mat-icon>
                                              <span>Удалить</span>
                                            </button>
                                          </mat-menu>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- <button class="button-add-row" mat-button (click)="addRowPrepaymentInvoice()">+
                                    Добавить счет на предоплату</button> -->
                                  <button class="button-add-row" mat-button (click)="addPrepay()">+ Добавить счёт на
                                    предоплату</button>
                                </div>
                              </div>
                            </div>
                          </mat-tab>
                        </mat-tab-group>


                        <button (click)="addDocx()" class="btn-table btn-tbl col-6 btn btn-success"
                          mat-stroked-button>Сформировать требования на оплату
                          <mat-icon style="font-size: 25px;">assignment</mat-icon>
                        </button>
                      </div>
                    </div>

                    <!-- showBlock6 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock6}" style="padding: 25px;">
                      <form [formGroup]="createDocx" (ngSubmit)="saveDocx(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Кому, компания:</mat-label>
                          <input matInput formControlName="whom_company">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Кому, ФИО:</mat-label>
                          <input matInput formControlName="whom_FCs">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>ПФМ Код:</mat-label>
                          <input matInput formControlName="pfm_code">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Менеджер по строительству:</mat-label>
                          <input matInput formControlName="construction_manager">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Коммерческий директор:</mat-label>
                          <input matInput formControlName="commercial_director">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Исполнитель, ФИО:</mat-label>
                          <input matInput formControlName="executor">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Исполнитель, Номер телефона:</mat-label>
                          <input prefix="+7" mask="(000) 000 00 00" matInput formControlName="num_tel">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Сформировать</span>
                        </button>
                      </form>
                    </div>

                    <!-- showBlock7 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock7}" style="padding: 25px;">
                      <h2>Счета на предоплату</h2>
                      <form [formGroup]="InvoicesForm"
                        (ngSubmit)="saveInvoices(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Номер документа:</mat-label>
                          <input matInput formControlName="num_document">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата документа:</mat-label>
                          <input matInput [matDatepicker]="pickerInvoices" formControlName="date_document">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="pickerInvoices"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInvoices></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Сумма, c НДС:</mat-label>
                          <input matInput formControlName="amount">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Порядок расчетов:</mat-label>
                          <input matInput formControlName="pay_procedure">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Создать</span>
                        </button>
                      </form>
                    </div>

                    <!-- showBlock8 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock8}" style="padding: 25px;">
                      <h2>Счета-фактуры</h2>
                      <form [formGroup]="PrepayForm"
                        (ngSubmit)="savePrepay(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Номер документа:</mat-label>
                          <input matInput formControlName="num_document">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата документа:</mat-label>
                          <input matInput [matDatepicker]="pickerPrepay" formControlName="date_document">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="pickerPrepay"></mat-datepicker-toggle>
                          <mat-datepicker #pickerPrepay></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Сумма, c НДС:</mat-label>
                          <input matInput formControlName="amount">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Порядок расчетов:</mat-label>
                          <input matInput formControlName="pay_procedure">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Создать</span>
                        </button>
                      </form>
                    </div>


                  </mat-tab>

                  <!-- <mat-tab label="Календарь платежей">
                  </mat-tab> -->
                </mat-tab-group>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>