<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="more"
            (click)="toggleDiscountRate()">Ставка дисконтирования
            <mat-icon>add_to_photos</mat-icon>
          </button>
          <button mat-stroked-button class="more" style="margin-left: 5px;"
            (click)="toggleParameters()">Добавть параметры
            <mat-icon>add_to_photos</mat-icon>
          </button>
          <button mat-stroked-button class="more" style="margin-left: 5px;"
            (click)="toggleParameterValue()">Назначить параметра
            <mat-icon>add_to_photos</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Макропараметры</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget">
              <mat-card-content>
                <mat-tab-group animationDuration="0ms">
                  <mat-tab label="Макро">
                    <table mat-table [dataSource]="dataSource1">
                      <ng-container matColumnDef="param_1">
                        <th mat-header-cell *matHeaderCellDef> Категория </th>
                        <td mat-cell *matCellDef="let element"> {{element.param_1}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_2">
                        <th mat-header-cell *matHeaderCellDef> Параметр </th>
                        <td mat-cell *matCellDef="let element"> {{element.param_2}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_3">
                        <th mat-header-cell *matHeaderCellDef> Тип </th>
                        <td mat-cell *matCellDef="let element"> {{element.param_3}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2024">
                        <th mat-header-cell *matHeaderCellDef> 2024 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2024']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2025">
                        <th mat-header-cell *matHeaderCellDef> 2025 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2025']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2026">
                        <th mat-header-cell *matHeaderCellDef> 2026 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2026']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2027">
                        <th mat-header-cell *matHeaderCellDef> 2027 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2027']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2028">
                        <th mat-header-cell *matHeaderCellDef> 2028 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2028']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2029">
                        <th mat-header-cell *matHeaderCellDef> 2029 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2029']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2030">
                        <th mat-header-cell *matHeaderCellDef> 2030 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2030']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2031">
                        <th mat-header-cell *matHeaderCellDef> 2031 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2031']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2032">
                        <th mat-header-cell *matHeaderCellDef> 2032 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2032']}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </mat-tab>
                  <mat-tab label="WACC">
                    <table mat-table [dataSource]="dataSource2">
                      <ng-container matColumnDef="param_1">
                        <th mat-header-cell *matHeaderCellDef> Показатель </th>
                        <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_2">
                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_3">
                        <th mat-header-cell *matHeaderCellDef> Процент </th>
                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                   <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </mat-tab>
                </mat-tab-group>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>

          <div class="row">
            <div class="col add" [ngClass]="{'show': block1}">
                  <div class="form-budget col">
                    <div class="col text-end">
                      <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <form [formGroup]="addDiscountRateForm">
                      <div class="d-flex flex-sm-column">
                        <h2>Ставка дисконтирования</h2>
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Параметр:</mat-label>
                          <input matInput formControlName="parameter">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Источник:</mat-label>
                          <input matInput formControlName="source">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Значение:</mat-label>
                          <input matInput formControlName="value">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="DiscountRate()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
            </div>
            <div class="col add" [ngClass]="{'show': block2}">
                  <div class="form-budget col">
                    <div class="col text-end">
                      <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <form [formGroup]="addParametersForm">
                      <div class="d-flex flex-sm-column">
                        <h2>Параметры</h2>
                        <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;"
                          appearance="outline">
                          <mat-label>Тип параметра:</mat-label>
                          <mat-select formControlName="type_parameter" [(ngModel)]="selectedType">
                            <mat-option *ngFor="let option of getType" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Основание:</mat-label>
                          <input matInput formControlName="base">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="Parameters()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
            </div>
            <div class="col add" [ngClass]="{'show': block3}">
                  <div class="form-budget col">
                    <div class="col text-end">
                      <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <form [formGroup]="addParameterValueForm">
                      <div class="d-flex flex-sm-column">
                        <h2>Значение параметра</h2>
                        <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;"
                          appearance="outline">
                          <mat-label>Параметр:</mat-label>
                          <mat-select formControlName="parameter" [(ngModel)]="selectedName">
                            <mat-option *ngFor="let option of getName" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Год:</mat-label>
                          <input matInput formControlName="year">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Значение:</mat-label>
                          <input matInput formControlName="value">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="ParameterValue()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
