<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button
          matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools"
          #btn_1
          (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Главная</span>
          <span class="tools-inner">Информационный раздел главной страницы</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-subtitle>Информация о разработке</mat-card-subtitle>
                <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
              </mat-card-header>
              <mat-card-content>
                <h2>Этапы</h2>
                    <ul>
                      <li>Основное - <span style="color: #aabd20;">в разработке</span></li>
                      <li>ГПКС - <span style="color: #aabd20;">в разработке</span></li>
                      <li>Отчётность - <span style="color: #aabd20;">в разработке</span></li>
                      <li>Сметы - <span style="color: #aabd20;">в разработке</span></li>
                      <li> Справочники
                        <ul>
                          <li>Макропараметры - <span style="color: green;">готово</span></li>
                          <li>Расценки - <span style="color: #aabd20;">в разработке</span>  </li>
                          <li>Объекты аналоги - <span style="color: green;">готово</span></li>
                          <li>Ценообразование - <span style="color: #aabd20;">в разработке</span></li>
                          <li>Общепроектные затраты - <span style="color: #aabd20;">в разработке</span></li>
                        </ul>
                      </li>
                      <li>Договоры
                        <ul>
                          <li>Реестр договоров - <span style="color: #aabd20;">в разработке</span></li>
                          <li>Разделительные ведомости - <span style="color: #aabd20;">в разработке</span></li>
                        </ul>
                      </li>
                      <li>Бюджет
                        <ul>
                          <li>СВЗ - <span style="color: #aabd20;">в разработке</span></li>
                          <li>СДР - <span style="color: #aabd20;">в разработке</span></li>
                          <li>Карточка объекта - <span style="color: green;">готово</span></li>
                          <li>Бюджет проекта - <span style="color: #aabd20;">в разработке</span></li>
                          <li>Оценочный бюджет - <span style="color: #aabd20;">в разработке</span></li>
                          <li>Реестр - <span style="color: #aabd20;">в разработке</span></li>
                          <li>ППО - <span style="color: #aabd20;">в разработке</span></li>
                          <li>ГКР - <span style="color: #aabd20;">в разработке</span></li>
                        </ul>
                      </li>
                      <li>Финансирование - <span style="color: #aabd20;">в разработке</span></li>
                    </ul>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
              </mat-card-actions>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
