<div class="menu" [ngClass]="themeService.getMenu()"  [ngClass]="{ 'menu-min': themeService.isCollapsed,'full-menu-min': themeService.isFull }">
    <div class="main-menu" #body>
    <div class="aside-wrapper" #inp [ngClass]="themeService.getMenu()" [ngClass]="{ 'menu-min': themeService.isCollapsed,'full-menu-min': themeService.isFull }">

        <div class="title-box">
            <span class="nav-head">Проект</span>
        </div>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion1']" (opened)="themeService.onAccordionOpened('accordion1')" (closed)="themeService.onAccordionClosed('accordion1')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home"></div>
                <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">timeline</mat-icon>
                  <span class="text">Проект</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">timeline</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Проект</h2>
                    <a>Параметры проекта</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home"></div>
            <p class="text-link">Параметры проекта</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion2']" (opened)="themeService.onAccordionOpened('accordion2')" (closed)="themeService.onAccordionClosed('accordion2')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">insert_drive_file</mat-icon>
                <span class="text">Основное</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">insert_drive_file</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Основное</h2>
                    <a>План</a>
                    <a>Факт</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-link">План</p>
            <p class="text-link">Факт</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion3']" (opened)="themeService.onAccordionOpened('accordion3')" (closed)="themeService.onAccordionClosed('accordion3')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">clear_all</mat-icon>
                  <span class="text">ГПКС</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">clear_all</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">ГПКС</h2>
                    <a>ГПКС</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-link">ГПКС</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel [expanded]="themeService.accordionStates['accordion4']" (opened)="themeService.onAccordionOpened('accordion4')" (closed)="themeService.onAccordionClosed('accordion4')" hideToggle [disabled]="themeService.isButtonDisabled">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="icon-no-active">report</mat-icon>
                    <span class="text">Отчетность</span>
                  <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                    <button class="dropbtn"><mat-icon class="icon-no-active">report</mat-icon></button>
                    <div class="dropdown-content">
                      <h2 class="title-drop">Отчетность</h2>
                      <a>Отчетность</a>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="text-link">Отчетность</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion5']" (opened)="themeService.onAccordionOpened('accordion5')" (closed)="themeService.onAccordionClosed('accordion5')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">call_merge</mat-icon>
                  <span class="text">Управление изменениями</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">call_merge</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Управление изменениями</h2>
                    <a>Управление изменениями</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-link">Управление изменениями</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion6']" (opened)="themeService.onAccordionOpened('accordion6')" (closed)="themeService.onAccordionClosed('accordion6')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">vertical_split</mat-icon>
                  <span class="text">Сметы</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">vertical_split</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Сметы</h2>
                    <a>Реестр смет</a>
                    <a>Управляющие объемы</a>
                    <a>Управление сметами</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-link">Реестр смет</p>
            <p class="text-link">Управляющие объемы</p>
            <p class="text-link">Управление сметами</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion7']" (opened)="themeService.onAccordionOpened('accordion7')" (closed)="themeService.onAccordionClosed('accordion7')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/macro"></div>
                <mat-icon class="icon-no-active">book</mat-icon>
                  <span class="text">Справочники</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">book</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Справочники</h2>
                    <a class="text-link" routerLink="/macro">Макропараметры</a>
                    <a>Расценки</a>
                    <a class="text-link" routerLink="/analogy">Объекты аналоги</a>
                    <a>Ценообразование</a>
                    <a>Общепроектные затраты</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/macro"></div>
              <a class="text-link" routerLink="/macro"><p>Макропараметры</p></a>
              <p class="text-link">Расценки</p>
              <a class="text-link" routerLink="/analogy"><p>Объекты аналоги</p></a>
              <p class="text-link">Ценообразование</p>
              <p class="text-link">Общепроектные затраты</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion8']" (opened)="themeService.onAccordionOpened('accordion8')" (closed)="themeService.onAccordionClosed('accordion8')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts"></div>
                <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts">description</mat-icon>
                  <span class="text">Договоры</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts">description</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Договоры</h2>
                    <a class="text-link" routerLink="/register-contracts">Реестр договоров</a>
                    <a>Разделительные ведомости</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts"></div>
              <a class="text-link" routerLink="/register-contracts"><p>Реестр договоров</p></a>
              <p class="text-link">Разделительные ведомости</p>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="title-box">
            <span class="nav-head">Бюджет проекта</span>
        </div>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion9']" (opened)="themeService.onAccordionOpened('accordion9')" (closed)="themeService.onAccordionClosed('accordion9')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj"></div>
                <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj">attach_money</mat-icon>
                  <span class="text">Бюджет</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj">attach_money</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Бюджет</h2>
                    <a>СВЗ</a>
                    <a class="text-link" routerLink="/wbs">СДР</a>
                    <a class="text-link" routerLink="/card-obj">Карточка объекта</a>
                    <a>Бюджет проекта</a>
                    <a class="text-link" routerLink="/estimated">Оценочный бюджет</a>
                    <a>Реестр</a>
                    <a>ППО</a>
                    <a>ГКР</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj"></div>
              <a class="text-link"><p>СВЗ</p></a>
              <a class="text-link" routerLink="/wbs"><p>СДР</p></a>
              <a class="text-link" routerLink="/card-obj"><p>Карточка объекта</p></a>
              <a class="text-link"><p>Бюджет проекта</p></a>
              <a class="text-link" routerLink="/estimated"><p>Оценочный бюджет</p></a>
              <a class="text-link"><p>Реестр</p></a>
              <a class="text-link"><p>ППО</p></a>
              <a class="text-link"><p>ГКР</p></a>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="themeService.accordionStates['accordion10']" (opened)="themeService.onAccordionOpened('accordion10')" (closed)="themeService.onAccordionClosed('accordion10')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">account_balance_wallet</mat-icon>
                  <span class="text">Финансирование</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">account_balance_wallet</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Финансирование</h2>
                    <a>План</a>
                    <a>Факт</a>
                    <a>Платежи</a>
                    <a>Управление лимитами</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <p class="text-link">План</p>
              <p class="text-link">Факт</p>
              <p class="text-link">Платежи</p>
              <p class="text-link">Управление лимитами</p>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="col set-wrapper">

        </div>

    </div>
    </div>
</div>

