:root {
    /* head */
    --theme-head-bg: #fff;
    --theme-head-border-bg: #cacaca;
    --theme-setting-bg: #f1f1f1;
    --theme-setting-txt-bg: #000;
    --theme-setting-a-bg: #ddd;
    --theme-setting-toggle-bg: #000;
    /* menu */
    --theme-menu-smoll-bg: #fff;
    --theme-menu-txt-bg: #484848;
    --theme-menu-bg: #fff;
    --theme-menu-border-bg: #cacaca;
    --theme-menu-dropdown-bg: #f1f1f1;
    --theme-menu-btn-bg: #f1f1f1;
    --theme-menu-a-bg: #000;
    --theme-menu-content-bg: #ddd;
    --theme-menu-active-bg: #fff;
    --theme-menu-active-txt-bg: #fff;
    --theme-panel-bg: #f1f1f1;
    --theme-text-link-color: #484848;
    /* content */
    --theme-content-bg: #fff;
    --theme-content-txt-bg: #000;
    --theme-content-title-bg: #000;
    --theme-mat-label-color: #000;
    /* mat-table */
    --theme-mat-table-bg: #fff;
    --theme-mat-cell-header-border-bg: #e0e1e9;
    --theme-mat-cell-header-color-bg: #000;
    --theme-mat-cell-bg: #000;
    --theme-mat-paginator-bg: #fff;
    --theme-mat-paginator-color-bg: #000;
    /* alerts */
    --theme-alerts-s-bg: #d1e7dd;
    --theme-alerts-s-txt-bg: #0a3622;
    --theme-alerts-s-border-bg: #a3cfbb;
    --theme-alerts-d-bg: #f8d7da;
    --theme-alerts-d-txt-bg: #842029;
    --theme-alerts-d-border-bg: #f5c2c7;

    --theme-background: #e0e1e9;
    --theme-color: black;
    --theme-bgwrapper: rgba(255, 255, 255, 0.8);
    /* --theme-small-menu-size: #ffffffc0; */
    --theme-small-menu-size: #b5dca4;
    --theme-nav-filter: #e2e3eb;
    --theme--title-card-lg: #e2e3eb;
    --theme-main-bg: #e0e1e9;
     /*--theme-main-head-bg: #e0e1e9; */
    --theme-border: #fff;
    /* --theme-nav-a: #6c6c6c; */
    --theme-nav-a: #6c6c6c;


  }
