/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); */

@import './app/resources/styles/themes/default';
@import './app/resources/styles/themes/dark.css';
@import './app/resources/styles/base.css';

::-webkit-scrollbar { width: 3px; height: 5px;}
::-webkit-scrollbar-button {  background-color: rgba(102, 102, 102, 0); }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

