<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          <button matTooltip="Создать" class="chevron bnt-help--tools"
            (click)="create()"><mat-icon>library_add</mat-icon></button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Объекты аналоги</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
            <div class="row">
              <div class="col">
                <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Название</th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="constr_smr">
                  <th mat-header-cell *matHeaderCellDef> СМР </th>
                  <td mat-cell *matCellDef="let element"> {{element.constr_smr}} </td>
                </ng-container>

                <ng-container matColumnDef="date_start">
                  <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                  <td mat-cell *matCellDef="let element"> {{element.date_start}} </td>
                </ng-container>

                <ng-container matColumnDef="date_end">
                  <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                  <td mat-cell *matCellDef="let element"> {{element.date_end}} </td>
                </ng-container>

                <ng-container matColumnDef="eng_pir">
                  <th mat-header-cell *matHeaderCellDef> ПИР </th>
                  <td mat-cell *matCellDef="let element"> {{element.eng_pir}} </td>
                </ng-container>

                <ng-container matColumnDef="tech_description">
                  <th mat-header-cell *matHeaderCellDef> Тех.характеристики </th>
                  <td mat-cell *matCellDef="let element"> {{element.tech_description}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef> Стоимость </th>
                  <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Типовой раздел </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="region">
                  <th mat-header-cell *matHeaderCellDef> Регион </th>
                  <td mat-cell *matCellDef="let element"> {{element.region}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn-table more" matTooltip="Подробнее" mat-stroked-button
                      (click)="showDetails(element)">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
              </div>
            </div>

<!-- Аналог бюджет (Гл.) -->
        <div class="col" >
              <div class="form-budget col budget" [ngClass]="{'show': showBlock1}">
                <div class="col text-end">
                  <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <form [formGroup]="analogForm">
                  <div class="row">
                    <h2>ОБъект аналог</h2>
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>СМР:</mat-label>
                      <input matInput formControlName="constr_smr">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Дата начала:</mat-label>
                      <input matInput [matDatepicker]="picker1" formControlName="date_start">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Дата окончания:</mat-label>
                      <input matInput [matDatepicker]="picker2" formControlName="date_end">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ПИР:</mat-label>
                      <input matInput formControlName="eng_pir">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Технические характеристики:</mat-label>
                      <input matInput formControlName="tech_description">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Стоимость:</mat-label>
                      <input matInput formControlName="cost">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Типовой раздел:</mat-label>
                      <input matInput formControlName="type">

                    </mat-form-field>

                    <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px; width: 100%"
                      appearance="outline">
                      <mat-label>Регион:</mat-label>
                      <mat-select formControlName="region" [(ngModel)]="selectedRegion">
                        <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                      <button (click)="AnalogBudget()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
        </div>

          <div class="col block" [ngClass]="{'show': block}">
            <div class="col text-end" style="margin-bottom: 15px;">
              <button class="mat-btn-recolor" mat-stroked-button  (click)="closedAdd()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="accordion">
              <div class="accordion-item">

                <mat-accordion class="custom-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>Объект аналог</p>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr style="font-size: 12px;">
                              <th scope="col">Название</th>
                              <th scope="col">СМР</th>
                              <th scope="col">Дата начала</th>
                              <th scope="col">ПИР</th>
                              <th scope="col">Тех.характеристики</th>
                              <th scope="col">Стоймость</th>
                              <th scope="col">Типовой раздел</th>
                              <th scope="col">Регион</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of getAnalogBudgets">
                              <th scope="row">{{ item.title }}</th>
                              <td>{{ item.constr_smr }}</td>
                              <td>{{ item.date_start }}</td>
                              <td>{{ item.date_end }}</td>
                              <td>{{ item.eng_pir }}</td>
                              <td>{{ item.tech_description }}</td>
                              <td>{{ item.cost }}</td>
                              <td>{{ item.type }}</td>
                              <td>{{ item.region }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="accordion-item">
                <mat-accordion class="custom-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>Оборудование</p>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr style="font-size: 12px;">
                              <th scope="col">Название</th>
                              <th scope="col">Типовой раздел</th>
                              <th scope="col">Тех.характеристики</th>
                              <th scope="col">Стоймость</th>
                              <th scope="col">Описание</th>
                              <th scope="col">Проект</th>
                              <th scope="col">Мануфактура</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of getEquipment">
                              <th scope="row">{{ item.title }}</th>
                              <td>{{ item.type }}</td>
                              <td>{{ item.tech_description }}</td>
                              <td>{{ item.cost }}</td>
                              <td>{{ item.description }}</td>
                              <td>{{ item.project }}</td>
                              <td>{{ item.manufacturer }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="accordion-item">
                <mat-accordion class="custom-accordion">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <p>Пакет Работ</p>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr style="font-size: 12px;">
                              <th scope="col">Тип</th>
                              <th scope="col">Подрядчик</th>
                              <th scope="col">Итого</th>
                              <th scope="col">Стоимость удельная</th>
                              <th scope="col">Трудозатраты</th>
                              <th scope="col">Комментарий</th>
                              <th scope="col">Проект</th>
                              <th scope="col">Регион</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of getWorkPackage">
                              <th scope="row">{{ item.title }}</th>
                              <td>{{ item.type }}</td>
                              <td>{{ item.contractor }}</td>
                              <td>{{ item.cost_total }}</td>
                              <td>{{ item.cost_pp }}</td>
                              <td>{{ item.mh }}</td>
                              <td>{{ item.comments }}</td>
                              <td>{{ item.project }}</td>
                              <td>{{ item.region }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <!-- <button mat-stroked-button (click)="compare()" style="margin-bottom: 15px;" class="mat-btn-recolor">
                <span class="d-flex align-items-center">сравнить
                  <mat-icon>add_box</mat-icon>
                </span>
              </button> -->
              <button mat-stroked-button style="margin: 15px 0px 15px 5px;" class="mat-btn-recolor" (click)="createEqu()">
                <span class="d-flex align-items-center">Оборудование
                  <mat-icon>add_box</mat-icon>
                </span>
              </button>
              <button mat-stroked-button style="margin: 15px 0px 15px 5px;" class="mat-btn-recolor" (click)="createPac()">
                <span class="d-flex align-items-center">Пакет работ
                  <mat-icon>add_box</mat-icon>
                </span>
              </button>
            </div>

<!-- Оборудование -->
               <div class="col card-add-details">
                    <div class="form-budget col budget" [ngClass]="{'show': showBlock3}">
                      <form [formGroup]="equipmenForm">
                        <div class="row">
                          <h2>Оборудование</h2>
                          <div class="col-6">
                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Название:</mat-label>
                              <input matInput formControlName="title">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Тип:</mat-label>
                              <input matInput formControlName="type">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Технические характеристики:</mat-label>
                              <input matInput formControlName="tech_description">

                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Цена:</mat-label>
                              <input matInput formControlName="cost">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Описание:</mat-label>
                              <input matInput formControlName="description">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Проект:</mat-label>
                              <input matInput formControlName="manufacturer">

                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px; width: 100%;" appearance="outline">
                              <mat-label>Производитель:</mat-label>
                              <mat-select formControlName="project" [(ngModel)]="PackageWork">
                                <mat-option *ngFor="let option of getPackage" [value]="option.id">{{ option.title }}</mat-option>
                              </mat-select>
                            </mat-form-field>

                            <div class="d-flex justify-content-start">
                              <button (click)="addEquipments()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                                <span class="d-flex align-items-center">Сохранить</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
              </div>

<!-- Пакет работ -->
              <div class="col card-add-details">
                    <div class="form-budget col budget" [ngClass]="{'show': showBlock2}">
                      <form [formGroup]="workPackage">
                        <div class="row">
                          <h2>Пакет работ</h2>
                          <div class="col-6">
                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Название:</mat-label>
                              <input matInput formControlName="title">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Тип:</mat-label>
                              <input matInput formControlName="type">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Подрядчик:</mat-label>
                              <input matInput formControlName="contractor">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Описание:</mat-label>
                              <input matInput formControlName="comments">

                            </mat-form-field>
                          </div>
                          <div class="col-6">
                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Стоимость итого:</mat-label>
                              <input matInput formControlName="cost_total">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Стоимость удельная:</mat-label>
                              <input matInput formControlName="cost_pp">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Трудозатраты:</mat-label>
                              <input matInput formControlName="mh">

                            </mat-form-field>

                            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
                            appearance="outline">
                            <mat-label>Регион:</mat-label>
                            <mat-select formControlName="region" [(ngModel)]="selectedRegion">
                              <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title
                                }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
                          <div class="col-6">

                            <mat-form-field class="select-create" style="margin-top: -5px;margin-left: 5px;width: 100%;"
                              appearance="outline">
                              <mat-label>Проект</mat-label>
                              <mat-select formControlName="project" [(ngModel)]="PackageWork">
                                <mat-option *ngFor="let option of getPackage" [value]="option.id">{{ option.title
                                  }}</mat-option>
                              </mat-select>
                            </mat-form-field>

                            <div class="d-flex justify-content-start">
                              <button (click)="addWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                                <span class="d-flex align-items-center">Сохранить</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
              </div>
        </div>

          <div class="col block" [ngClass]="{'show': block2}">
            <div class="col" *ngFor="let item of anlData">
              <p>{{ item.title }}</p>
              <p>{{ item.constr_smr }}</p>
              <p>{{ item.date_start }}</p>
              <p>{{ item.date_end }}</p>
              <p>{{ item.eng_pir }}</p>
              <p>{{ item.tech_description }}</p>
              <p>{{ item.cost }}</p>
              <p>{{ item.type }}</p>
              <p>{{ item.region }}</p>
              <hr>
            </div>
            <hr>
            <hr>
            <div class="col" *ngFor="let item of equData">
              <p>{{ item.title }}</p>
              <p>{{ item.type }}</p>
              <p>{{ item.tech_description }}</p>
              <p>{{ item.cost }}</p>
              <p>{{ item.description }}</p>
              <p>{{ item.project }}</p>
              <p>{{ item.manufacturer }}</p>
              <hr>
            </div>
            <hr>
            <hr>
            <div class="col" *ngFor="let item of wrkData">
              <p>{{ item.title }}</p>
              <p>{{ item.type }}</p>
              <p>{{ item.contractor }}</p>
              <p>{{ item.cost_total }}</p>
              <p>{{ item.cost_pp }}</p>
              <p>{{ item.mh }}</p>
              <p>{{ item.comments }}</p>
              <p>{{ item.project }}</p>
              <p>{{ item.region }}</p>
              <hr>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
